## Merge

### Concat

pandas provides various facilities for easy combining together <u>`Series`</u> and <u>`DataFrame`</u> objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the <u>Merging section</u>

Concatenating pandas objects together row-wise with<u>`concat()`</u>:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

df

          0         1         2         3
0 -1.568696 -1.599193 -1.428294 -0.149970
1 -0.397175  0.619535  0.566172  0.772542
2  0.623451 -1.717004 -2.136921 -0.258811
3 -0.656832  0.212253  1.550249  0.142044
4  2.490388  0.891012 -0.103757  0.211790
5 -0.447245 -0.882291  1.900449  0.911033
6  1.760413 -0.655059 -0.299442  1.015099
7 -0.524331 -1.914839  1.704578  0.206799
8 -0.102755  0.260545 -1.408841 -1.302581
9 -0.462353 -0.825663  0.527674 -0.635947

In [ ]:
# Break it into pieces
piece = [df[:3], df[3:7], df[7:]]

In [ ]:
pd.concat(piece)

          0         1         2         3
0 -1.568696 -1.599193 -1.428294 -0.149970
1 -0.397175  0.619535  0.566172  0.772542
2  0.623451 -1.717004 -2.136921 -0.258811
3 -0.656832  0.212253  1.550249  0.142044
4  2.490388  0.891012 -0.103757  0.211790
5 -0.447245 -0.882291  1.900449  0.911033
6  1.760413 -0.655059 -0.299442  1.015099
7 -0.524331 -1.914839  1.704578  0.206799
8 -0.102755  0.260545 -1.408841 -1.302581
9 -0.462353 -0.825663  0.527674 -0.635947

<table>
    <th>
        <tb>
            Note
            <tr>
                <td>
                Adding a column to a <code><u>DataFrame</u></code> is relatively fast. However, adding a row requires a copy, and may be expensive. We recommend passing a pre-built list of records to the <code><u>DataFrame</u></code> constructor instead of building a <code><u>DataFrame</u></code> by iteratively appending records to it.
                </td>
            </tr>
        </tb>
    </th>
</table>

### Join

<u>`merge()`</u> enables SQL style join types along specific columns. See the <u>Database style joining</u> section.

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on="key")

<u>`merge()`</u> on unique keys:

In [ ]:
left = pd.DataFrame({"key": [ "foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on="key")