## Object Creation

See the <u>Intro to data structures section</u>.

Creating a <u>`Series`</u> by passing a list of values, letting pandas create a default <u>`RangeIndex`</u>.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 9, 11])
s

Creating a <u>`DataFrame`</u> by passing a Numpy array with a datetime index using <u>`date_range()`</u> and labeled columns:

In [ ]:
dates = pd.date_range(start="20241101", end="20241129")       # using start then end variable
# dates = pd.date_range("20131101", periods=29)                   # using period variable for amount day(s)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(29, 4), index=dates, columns=list("ABCD")) 
df

Creating a <u>`DataFrame`</u> by passing a dictionary of objects where the keys are the column labels and the values are the column values.

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20241129"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo"
    }
)

In [ ]:
df2

The columns of the resulting <u>`DataFrame`</u> have different <u>dtypes</u>:

In [ ]:
df2.dtypes

if you're using IPython, tab completion for column name (as well as public attribute) is automatically enebled. Here is a subset of the attributes that will be completed:

<table>
    <tbody>
            <tr>
                <td>
                    df.A
                </td>
                 <td>
                    df.bool
                </td>
            </tr>
            <tr>
                <td>
                    df.abs
                </td>
                 <td>
                    df.boxplot
                </td>
            </tr>
            <tr>
                <td>
                    df.add
                </td>
                 <td>
                    df.C
                </td>
            </tr>
            <tr>
                <td>
                    df.add_prefix
                </td>
                 <td>
                    df.clip
                </td>
            </tr>
            <tr>
                <td>
                    df.add_suffix
                </td>
                 <td>
                    df.columns
                </td>
            </tr>
            <tr>
                <td>
                    df.align
                </td>
                 <td>
                    df.copy
                </td>
            </tr>
            <tr>
                <td>
                    df.all
                </td>
                 <td>
                    df.count
                </td>
            </tr>
            <tr>
                <td>
                    df.any
                </td>
                 <td>
                    df.combine
                </td>
            </tr>
            <tr>
                <td>
                    df.append
                </td>
                 <td>
                    df.D
                </td>
            </tr>
            <tr>
                <td>
                    df.apply
                </td>
                 <td>
                    df.describe
                </td>
            </tr>
            <tr>
                <td>
                    df.applymap
                </td>
                 <td>
                    df.diff
                </td>
            </tr>
            <tr>
                <td>
                    df.B
                </td>
                 <td>
                    df.duplicated
                </td>
            </tr>
    </tbody>
</table>

As you can see, the columns `A`, `B`, `C`, and `D` are automatically tab completed. `E` and `F` are there as well; the rest of attributes have been truncated for brievity.