## Selection

<table>
    <tbody>
        <tr>
            <td>
                Note
            </td>
        </tr>
        <tr>
            <td>
                While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, <code><u>DataFrame.at()</u></code>, <code><u>DataFrame.iat()</u></code>, <code><u>DataFrame.loc()</u></code> and <code><u>DataFrame.iloc()</u></code>.
            </td>
        </tr>
    </tbody>
</table>

### Getitem (<code>[]</code>)

For a <u>`DataFrame`</u>, passing a single label selects a columns and yields a <u>`Series`</u> equivalent to <u>`df.A`</u>:

In [ ]:
df["A"]

2024-11-01    0.161885
2024-11-02   -1.214767
2024-11-03    1.277171
2024-11-04   -0.122850
2024-11-05    0.254829
2024-11-06   -0.750218
2024-11-07    1.404906
2024-11-08   -1.322813
2024-11-09    0.716064
2024-11-10    0.732563
2024-11-11    1.726718
2024-11-12   -1.957294
2024-11-13    2.123373
2024-11-14   -0.187590
2024-11-15   -0.196765
2024-11-16    0.237916
2024-11-17   -1.727063
2024-11-18    0.127168
2024-11-19    0.260393
2024-11-20    1.021713
2024-11-21   -1.150564
2024-11-22   -0.336322
2024-11-23   -1.532701
2024-11-24    0.558858
2024-11-25    0.689247
2024-11-26    1.384677
2024-11-27   -0.742810
2024-11-28   -0.620223
2024-11-29   -0.230046
Freq: D, Name: A, dtype: float64

For a <u>`DataFrame`</u>, passing a slice `:` selects matching rows:

In [ ]:
df[0:3]

                   A         B         C         D
2024-11-01  0.161885  0.438335 -0.986986  0.317472
2024-11-02 -1.214767 -0.469118  1.206513 -0.022381
2024-11-03  1.277171 -1.193116 -0.154847  0.441461

### Selection by label

See more in <u>Selection by Label</u> using <u>`DataFrame.loc()`</u> or <u>`DataFrame.at()`</u>.

Selecting a row matching a label:

In [ ]:
df.loc[dates[0]]

A    0.161885
B    0.438335
C   -0.986986
D    0.317472
Name: 2024-11-01 00:00:00, dtype: float64

Selecting all rows (`:`) with a select column labels:

In [ ]:
df.loc[:,["A", "B"]]

                   A         B
2024-11-01  0.161885  0.438335
2024-11-02 -1.214767 -0.469118
2024-11-03  1.277171 -1.193116
2024-11-04 -0.122850  0.726176
2024-11-05  0.254829 -0.682948
2024-11-06 -0.750218 -0.169299
2024-11-07  1.404906  0.649107
2024-11-08 -1.322813 -1.168692
2024-11-09  0.716064 -0.108465
2024-11-10  0.732563 -0.995801
2024-11-11  1.726718  0.566326
2024-11-12 -1.957294  1.628759
2024-11-13  2.123373 -0.063421
2024-11-14 -0.187590  1.235832
2024-11-15 -0.196765 -0.095129
2024-11-16  0.237916  0.116624
2024-11-17 -1.727063 -1.509896
2024-11-18  0.127168 -0.313985
2024-11-19  0.260393 -0.665612
2024-11-20  1.021713 -1.436212
2024-11-21 -1.150564 -0.676135
2024-11-22 -0.336322  0.759999
2024-11-23 -1.532701 -0.654647
2024-11-24  0.558858 -1.599667
2024-11-25  0.689247  0.218797
2024-11-26  1.384677 -1.015229
2024-11-27 -0.742810  0.263779
2024-11-28 -0.620223  1.308058
2024-11-29 -0.230046 -1.538786

For label slicing, both endpoints are included:

In [ ]:
df.loc["20241110":"20241121",["A", "B"]]

                   A         B
2024-11-10  0.732563 -0.995801
2024-11-11  1.726718  0.566326
2024-11-12 -1.957294  1.628759
2024-11-13  2.123373 -0.063421
2024-11-14 -0.187590  1.235832
2024-11-15 -0.196765 -0.095129
2024-11-16  0.237916  0.116624
2024-11-17 -1.727063 -1.509896
2024-11-18  0.127168 -0.313985
2024-11-19  0.260393 -0.665612
2024-11-20  1.021713 -1.436212
2024-11-21 -1.150564 -0.676135

Selecting a single row and column label returns a scalar:

In [ ]:
df.loc[dates[0], "A"]

np.float64(0.161885333858113)

For getting fast access to a scalar (equivalent to the prior method)

In [ ]:
df.at[dates[0], "A"]

np.float64(0.161885333858113)

### Selection by Position

See more in <u>Selection by Position</u> using <u>`DataFrame.iloc()`</u> or <u>`DataFrame.iat()`</u>.

Select via the position of the passed integers

In [ ]:
df.iloc[3]

A   -0.122850
B    0.726176
C   -0.562973
D    0.747119
Name: 2024-11-04 00:00:00, dtype: float64

integer slices acts similar to Numpy/Python

In [ ]:
df.iloc[3:5, 0:2]

                   A         B
2024-11-04 -0.122850  0.726176
2024-11-05  0.254829 -0.682948

Lists of integer position locations:

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2024-11-02 -1.214767  1.206513
2024-11-03  1.277171 -0.154847
2024-11-05  0.254829 -0.711257

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

                   A         B         C         D
2024-11-02 -1.214767 -0.469118  1.206513 -0.022381
2024-11-03  1.277171 -1.193116 -0.154847  0.441461

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

                   B         C
2024-11-01  0.438335 -0.986986
2024-11-02 -0.469118  1.206513
2024-11-03 -1.193116 -0.154847
2024-11-04  0.726176 -0.562973
2024-11-05 -0.682948 -0.711257
2024-11-06 -0.169299 -1.583037
2024-11-07  0.649107 -0.674996
2024-11-08 -1.168692 -0.564075
2024-11-09 -0.108465 -0.555911
2024-11-10 -0.995801 -0.910501
2024-11-11  0.566326 -0.146311
2024-11-12  1.628759 -1.513014
2024-11-13 -0.063421 -0.698364
2024-11-14  1.235832 -0.166551
2024-11-15 -0.095129  1.431128
2024-11-16  0.116624  2.248375
2024-11-17 -1.509896  0.213517
2024-11-18 -0.313985 -0.554889
2024-11-19 -0.665612 -0.065311
2024-11-20 -1.436212  0.784683
2024-11-21 -0.676135 -1.022757
2024-11-22  0.759999  0.151097
2024-11-23 -0.654647 -0.583602
2024-11-24 -1.599667 -1.282399
2024-11-25  0.218797 -0.264992
2024-11-26 -1.015229 -1.152469
2024-11-27  0.263779 -0.193731
2024-11-28  1.308058 -1.024844
2024-11-29 -1.538786 -0.574171

For getting a value explicitly:

In [ ]:
df.iloc[1, 1]

np.float64(-0.4691181592538986)

For getting dast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1, 1]

np.float64(-0.4691181592538986)

<table>
</table>